<div>
  <ul class="tabs">
    <li><a href="/dashboard">Dashboard</a></li>
    <li><a href="/shorts">Shorts</a></li>
    <% if(role === 'admin'){ %>
      <li><a href="/admin">Admin</a></li>
    <% } %>
  </ul>
</div>

<h1>URLS</h1>
<form method="POST" action="/shorts">
  <input type="text" name="url" placeholder="Add url" />
  <button type="submit"  class="add-button">Add</button>
</form>
<table>
  <thead>
    <th>url</th>
    <th>visits</th>
    <th>created_time</th>
  </thead>
  <tbody>
    <% urls.forEach((el, index)=>{%>
      <tr class="task-list-container">
        <td><a href="/shorts/<%=el.uiid%>"><%= el.url%></a></td>
        <td><%= el.visits%></td>
        <td><%= el.created_time%></td>
        <td><button onclick="deleteData('<%=el.uiid%>')">Delete</button></td>
      </tr>  
    <%});%>
  </tbody>
</table>


<script>

  async function deleteData(uiid) {

    try {
      const response = await fetch(`/shorts/${uiid}`, {
        method: "DELETE",
        redirect: 'follow',
      }).then(res => {
        if (res.redirected) {
            document.location = res.url;
        }
      })
    } catch (e) {
      console.error(e);
    }
}

</script>